/* 공통 */
*{padding: 0; margin: 0;}
ul,li{list-style: none;}
.inner{width: 1200px; margin: 0 auto;}
body{overflow-x: hidden;}
a{text-decoration: none; color: #fff;}

/* 헤더 */
.h_top{width: 100%; height: 129px; position: relative;}
.logo{width: 140px; position: absolute; margin: 0 auto; left: 0; right: 0; top: 25%;}
.icon{width: 70px; float: right; padding-top: 50px;}
#header>.h_top>.inner:after{display: block; content: ""; clear: both;}

.icon_l{width: 30px; float: left;}
.icon_r{width: 30px; float: right;}
.icon:after{display: block; content: ""; clear: both;}


.h_bottom{height: 67px; background-color: #1e569f; color: #fff; position: relative;}
.menu{width: 800px; position: absolute; margin: 0 auto; left: 0; right: 0; margin-top: 20px;}
.menu>li{font-size: 18px; float: left; width: 160px; text-align: center;}
.menu:after{display: block; content: ""; clear: both;}

.menu_icon{display: none;}

/* 메인 */
#sub5_mainimg{height: 430px; background-image: url(../img/sub5_main.png); background-repeat: no-repeat; background-position: center center; background-size: cover; color: #fff; text-align: center; text-shadow: 0 0 3px  #000;}
.main_t>h4{font-size: 30px; padding-top: 80px; position: relative;}
.main_t>h4:after{display: block; content: ""; width:2px; height:35px; background-color: #fff; position: absolute;left: 0;
    right: 0; margin: 0 auto; top: 130px;}
.main_t>h1{font-size: 58px; padding-top: 50px; padding-bottom: 60px;}
.main_t>p{font-size: 25px;}

/* 콘텐츠 */
.sub5_box1{height: 1050px; position: relative;}
.service{width: 136px; height: 23px; float: right; padding-top: 10px;}
.service>img{width: 100%;}
.box_t{padding-top: 120px; position: relative; height: 107px; padding-bottom: 95px;}
.box_t h2{font-size: 30px; text-align: center;}
.text5 li{float: left; font-size: 17px; text-align: center; color: #4e4e4e; padding-bottom: 50px; font-weight: bold;}
.text5:after{display: block; content: ""; clear: both;}
.text5 li:after{display: inline-block; content: "|"; padding: 0 20px;}
.text5 li:nth-child(3):after{display: none}
.box_t h2:after{display: block; content: ""; border-bottom: 1px solid #fab463; width: 40px; margin: 20px auto;}
.text5{width: 193px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 200px;}
    .text5>li:nth-child(1){font-weight: bold;}

    .sub5_p>p{margin-bottom: 25px;}
.sub5_p>p:after{display: block; content: ""; border-bottom: 2px solid #dedede; width: 100%; margin-top: 25px;}
.sub5_p>p:nth-child(1):before{display: block; content: ""; border-top: #2d2d2d 2px solid; width: 100%; padding-top: 25px;}

.number{text-align: center; padding-bottom: 15%;}

/* 푸터 */
.f_top{height: 64px; line-height: 64px; background-color: #f2f2f2; border-top: solid 1px #c9c9c9; border-bottom: solid 1px #c9c9c9;;}
.f_menu{float: left; width: 600px; font-size: 18px; font-weight: bold; color: #505050; text-align: center;}
.f_menu li{width: 150px; float: left;}
.f_menu:after{display: block; content: ""; clear: both;}

.f_sns{float: right; width: 180px; padding-top: 10px;}
.f_sns>li{width: 45px; float: left;}
.f_sns:after{display: block; content: ""; clear: both;}
.f_top>.inner:after{display: block; content: ""; clear: both;}

.f_bottom{height: 135px;}
.f_logo{float: left; padding-top: 35px;}
.copyright{float: left; padding-top: 35px; padding-left: 77px; font-size: 13px;}
.copyright>p:nth-child(1){padding-bottom: 17px;}
.f_bottom:after{display: block; content: ""; clear: both;}


@media(max-width: 1199px){

    .inner{width: 93%;}
    .h_top{height: 100px;}
    .h_bottom{display: none;}
    .menu_icon{width: 25px; height: 20px; float: left; display: block; padding-top: 42px;}
    .icon{padding-top: 39px;}

    #sub5_mainimg{height: 252px;}
    .main_t p{display: none; padding-top: 35px;}
    .main_t h4{padding-top: 5%;}
    .main_t>h4:after{top: 110%;}

    .number{padding-top: 45px;}

    .f_menu{width: 80%; margin: 0 auto; text-align: center; font-size: 15px; margin: 0 auto; float: none;}
.f_menu li{width: 25%}

.f_top{height: 64px;}
.f_sns{float: none; margin: 0 auto; padding-top: 23px;}

.f_bottom{height: 267px; position: relative;}
.f_logo{float: none; left: 47%; top: 80px; position: absolute; padding-top: 0;}
.copyright{padding: 0; text-align: center; position: absolute; top: 168px; left: 0; right: 0;}

}

@media (max-width:768px){
.sub5_box1{height: auto;}

    .f_top{height: 128px;}
.f_menu>li{width: 50%;}
}